.git/
.github/
.vs/
.vscode/
.idea/
docs/

**/bin/
**/obj/
**/TestResults/

coverage/
coverage*.json
coverage*.xml
coverage*.info
*.coverage
*.coveragexml
*.binlog
*.log

**/.env
**/.env.*
!**/.env.example

Dockerfile
.dockerignore
README.md
